<!-- art_gallery.html -->

{% extends "base.html" %}
{% load static %}
{% block title %} Art Gallery {% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'styles/styles.css' %}">

<body id="content">
    <h1>Art Gallery</h1>
    <div id="gallery">

        <div class="image-container">
            {% for image in Images %}

            {% if image.image %}
            <img class="image-item" id="image-{{forloop.counter0}}" src="{{ image.image.url }}" alt="{{ image.title }}"
                style="display: none">
            {% endif %}

            <p class="image-title" id="title-{{forloop.counter0}}" style="display: none;">{{ image.title }}</p>
            {% endfor %}
        </div>
        <button class="nav-button" id="previous">&lt;</button>
        <button class="nav-button" id="next">&gt;</button>
    </div>
</body>

<script>
    console.log("Script On")

    let currentIndex = 0;

    const imageList = document.querySelectorAll('.image-container img')
    const titleList = document.querySelectorAll(`.image-container p`)

    const prevButton = document.getElementById("previous");
    const nextButton = document.getElementById("next");

    let currentImage = imageList[currentIndex]
    let currentTitle = imageList[currentImage]


    updateImageDisplay()

    function updateImageDisplay() {
        console.log("Updated Display")

        imageList.forEach((img, index) => {
            img.style.display = index === currentIndex ? "grid" : "none";

        })

        titleList.forEach((p, index) => {
            p.style.display = index === currentIndex ? "grid" : "none"
        })
    }

    prevButton.addEventListener('click', () => {
        currentIndex = (currentIndex - 1 + imageList.length) % imageList.length;
        updateImageDisplay()
    });

    nextButton.addEventListener('click', () => {
        currentIndex = (currentIndex + 1) % imageList.length;
        updateImageDisplay()
    });
</script>
{% endblock %}