<!-- programming_gallery.html -->

{% extends "base.html" %} {% block title %} Programming Projects {% endblock %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'styles/styles.css' %}">

<body id="content">
    <div id="accordion_section">
        <h1>Programming Projects</h1>
        <button class="accordion">File Saving System</button>
        <div class="panel">

            <a class="github-links" href="https://github.com/nebyui/text-editor">GitHub Repository</a>
            <iframe width="1266" height="712" src="https://www.youtube.com/embed/X37GxEtWCbo"
                title="Long Program Demonstration 1" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

            <iframe width="1266" height="712" src="https://www.youtube.com/embed/IVVtM6c2IDw"
                title="Long Program Demonstration 2" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>

        <button class="accordion">Art App for PC</button>
        <div class="panel">

            <a class="github-links" href="https://github.com/nebyui/paint-app">GitHub Repository</a>
            <iframe width="1266" height="712" src="https://www.youtube.com/embed/vDHuzt3ETCw"
                title="Paint App Demonstration" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>

        <button class="accordion">Art App for Android</button>
        <div class="panel">

            <a class="github-links" href="https://github.com/nebyui/PaintMobleApp">GitHub Repository</a>
            <iframe width="1266" height="712" src="https://www.youtube.com/embed/U0pYvlQE11k"
                title="Mobile app demonstration" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>

    </div>
    </div>
</body>
<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }
</script>

{% endblock %}